<html>
    <header>
        <title>Title</title>
    </header>
    <body>
        <center>
            <table width="100%">
                <tr>
                    <td colspan="8"><a href=homepage.php><img src="../assets/head.PNG"></a></td>
                    <td>
                        <a href="user.php" >
                            User
                        </a><br>
                        <a href="menu.html" >
                            Menu
                        </a>
                    </td>
                </tr>
            </table>
        <table>
            Search by User name:
            <form method="post">
                <input type="text" id='term' name="userName" value="">
                <input type="button" id="button" name = "button" value = "Search" onclick="searchfunc()">
            </form>
            <table id='result'></table>
        </center>
        <script>
            function searchfunc(){
                let name = document.getElementById('term').value;
                if(name==''){
                    alert("Enter a User Name!");
                }
                else{
                    let xhttp = new XMLHttpRequest();

                

                    xhttp.open('POST', '../controllers/searchCheck.php', true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.onreadystatechange = function(){
                        if(this.readyState == 4 && this.status == 200){
                            document.getElementById('result').innerHTML = this.responseText;
                        }
                    }

                    xhttp.send('std='+name);
                }
            }
        </script>
    </body>
</html>